
    <div class="col-md-12" style="margin:20px auto;">
      <div class="alert alert-danger text-center">
        <nav class="nav nav-pills nav-justified">
            <a class="nav-item nav-link active">Viaje</a>
            <a class="nav-item nav-link">Acientos</a>
            <a class="nav-item nav-link">Pago</a>  
        </nav>      
      </div>
    </div>


<table class="table">
    <thead class="table-success">
        <tr>
        <th scope="col">Tipo bus</th>
        <th scope="col">Horario</th>
        <th scope="col">Terminales</th>
        <th scope="col">Duracion</th>
        <th scope="col">Precio</th>
        </tr>
    </thead>
    <tbody>
        <tr>        
        <td *ngIf="tipo_bus == 1">Premier</td>
        <td *ngIf="tipo_bus == 2">Lite</td>
        <td *ngIf="tipo_bus == 3">Estándar</td>
        <td> {{ horario_salida}} </td>    
        <td>Central de Autobuses Tuxtla Gutierrez <br> Central de Autobuses - {{lugar_destino}}  </td>
        <td> {{tiempo_viaje / 60 }} min </td> $ {{precio}}
        <button  type="button" class="btn btn-success" (click)="selectAciento()" >Seleccionar</button>    
        </tr>
    </tbody>
</table>