

<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">
        <div id="first">
            <div class="myform form ">
            <div class="logo mb-3">
                <div class="col-md-12 text-center">
                    <h3>Register Bus</h3>
                </div>
            </div>

        <form #form="ngForm" (ngSubmit) = "addBus(form)" >         
          <div class="form-group">
            <label>Nombre</label>
            <input type="text"  name="nombre_bus" class="form-control" ngModel required >
          </div>

          <div class="form-group">
            <label>Numero de acientos</label>
            <input type="number"  name="num_acientos" class="form-control" ngModel required >
          </div>
          <div class="form-group">
          <label>Tipo de autobus</label>
            <select name="tipo_bus"  class="custom-select" ngModel required>
                <option selected></option>
                <option value="1">Premier</option>
                <option value="2">Lite</option>
                <option value="3">Estándar</option>
            </select>
         </div>
          <div class="form-group">
            <label>Lugar de origen</label>
            <input type="text" name="lugar_salida"  class="form-control" ngModel required>
          </div>
          <div class="form-group">
            <label>Lugar de destino</label>
            <input type="text" name="lugar_destino"  class="form-control" ngModel required>
          </div>
          <div class="form-group"> 
          <label>Disponibilidad</label>          
            <select name="lugar_destino"  class="custom-select" ngModel required>
                <option selected></option>
                <option value="1">Si</option>
                <option value="2">No</option>                
            </select>
          </div>

          <div class="form-group">
            <label>Horario de salida</label><br> 
            Fecha: 
            <input class="form-control" type="date" name="fecha_regreso" ngModel required> <br>  
            Hora:         
            <input class="form-control" type="time" name="hora_salida"  ngModel required>
          </div>

          <div class="form-group">
            <label>Horario de regreso</label> <br>
            Fecha: 
            <input class="form-control" type="date" name="fecha_regreso" ngModel required> <br>  
            Hora:         
            <input class="form-control" type="time" name="hora_salida"  ngModel required>
          </div>

          <div class="form-group">
            <label>Tiempo de viaje</label>
            <input type="number" name="tiempo_viaje" class="form-control" ngModel required >
          </div>

          <div class="form-group">
            <label>Acientos disponibles</label>
            <input type="number" name="num_acientos_disponibles" class="form-control"  ngModel required >
          </div>

          <div class="col-md-12 text-center ">
            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Registrar Bus</button>
          </div>

        </form>
      </div>
		</div>
</div>
