

<div class="container">
    <div class="row">
        <div class="col-md-15 mx-auto" style="margin:20px auto;">
            <div class="alert alert-info text-center"><strong>Encuentra tu boleto de autobús</strong></div> 
            <div class="card text-black bg-success mb-3" style="max-width: 18rem;">   
                <div class="card" >            
                    <div class="card-body">
                        <form #form="ngForm" (ngSubmit) = "buscarBus(form)" >                   
                            
                            <div class="form-group">
                                <label><strong>Lugar de origen:</strong></label>
                                <input class="form-control" type="text" value="Tuxtla Gutierrez">            
                            </div>

                            <div class="form-group">
                                <label><strong>Lugar de destino:</strong></label>
                                <select name="lugar_destino"class="custom-select" ngModel required>
                                    <option selected></option>
                                    <option value="1">Comitan</option>
                                    <option value="8">Comalapa</option>
                                    <option value="6">Cintalapa</option>
                                    <option value="5">Chicumuselo</option>                
                                    <option value="7">Motozintla</option>           
                                    <option value="9">Ocosingo</option> 
                                    <option value="4">Palenque</option>                 
                                    <option value="2">San Cristobal</option>               
                                    <option value="10">Suchiapa</option> 
                                    <option value="3">Tapachula</option>              
                                </select>
                            </div>
                            

                            <div class="form-group">  
                                <label><strong>Fecha de salida:</strong></label><br>             
                                Fecha:             
                                <input class="form-control" type="date" name="fecha_salida" ngModel required> <br>             
                            </div>

                            <div class="form-group">
                                <label><strong>Fecha de regreso (Opcional)</strong></label> <br>            
                                Fecha:             
                                <input class="form-control" type="date" name="fecha_salida" ngModel required> <br>              
                            </div>

                            <div class="col-md-12 text-center ">
                                <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Buscar boleto</button>
                            </div>

                        </form>
                    </div> 
                </div>                                          
            </div>
        </div>
    </div>    
</div>