


<div class="container">
  <div class="row">
    <div class="col-md-12" style="margin:20px auto;">
      <div class="alert alert-info text-center"><strong>Autobuses list</strong></div>
      <a  style="float: right" class="navbar-brand" class="btn btn-info bmd-btn-fab" href="/create-autobus"> <i class="fa fa-plus"></i> </a>
    </div>
    <div class="col-sm-4" *ngFor="let bus of buses; let i = index;" >
      <div class="card text-black bg-success mb-3" style="max-width: 18rem;">   
        <div class="card" >            
          <div class="card-body">
            <h5 class="card-title">Autobus: {{ bus.nombre_bus }} </h5> 
            <p class="card-text"> <strong> Num acientos: </strong> {{ bus.num_acientos }} </p>
          </div> 
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngIf="bus.tipo_bus === 1" ><strong>Tipo:</strong> Premier</li>
            <li class="list-group-item" *ngIf="bus.tipo_bus === 2" ><strong>Tipo:</strong> Lite</li>
            <li class="list-group-item" *ngIf="bus.tipo_bus === 3" ><strong>Tipo:</strong> Estandar</li>
            <li class="list-group-item"><strong>Origen:</strong> {{ bus.lugar_salida }} </li>
            <li class="list-group-item"><strong>Destino:</strong> {{ bus.lugar_destino }} </li>
            <li class="list-group-item" *ngIf="bus.disponibilidad == true">Disponible</li>
            <li class="list-group-item" *ngIf="bus.disponibilidad == false">No disponible</li>
            <li class="list-group-item"><strong>Hora salida:</strong> {{ bus.horario_salida | date }} </li>
            <li class="list-group-item"><strong>Tiempo de viaje:</strong> {{ bus.tiempo_viaje / 60 }} min</li>   
          </ul>
          <div class="card-body">
            <button  type="button" class="btn btn-success" (click)="idBusSelected(bus)" ><i class="fa fa-edit"></i></button>
            <button  type="button" class="btn btn-danger"
            mwlConfirmationPopover
            [popoverTitle]="popoverTitle"
            [popoverMessage]="popoverMessage"
            placement="left"
            (confirm)="delete(bus)"
            (cancel)="cancelClicked = true"><i class="fa fa-trash"></i></button>
          </div> 
        </div>                                          
      </div>
    </div>
  </div>
</div>

